body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid black;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.inside-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  /* display: inline-block; */
  width: 92%; /* Adjust the width as needed */
  margin: 1%; /* Add some margin between the cards */
  border: 1px solid black;
  padding: 20px;
}

.card {
  display: inline-block;
  width: 48%; /* Adjust the width as needed */
  margin: 1%; /* Add some margin between the cards */
  border: 1px solid black;
  padding: 20px;
}

.row {
  /* margin-bottom: 10px; */
  border: 1px solid black;
}

input[type="text"] {
  width: 84%;
}
