* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(220, 219, 219);
  color: rgb(26, 25, 25);
  padding-top: 4%;
  padding-left: 10%;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}

.container button {
  display: flex;
  align-items: center;
  background-color: #ce4257;
  color: white;
  font-size: 16px;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  width: 13%;
  cursor: pointer;
  outline: 0;
  padding: 15px 25px;
  margin: 30px 0 20px;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: white;
  color: black;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
}

.input-box i {
  position: absolute;
  bottom: 24px;
  right: 20px;
  cursor: pointer;
}
