* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(220, 219, 219);
  color: rgb(26, 25, 25);
  padding-top: 4%;
  padding-left: 10%;
}

#notes {
  width: 450px;
  height: 100px;
  border: 1px solid #000;
  padding: 10px;
}

.note {
  background-color: #ffc;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

/* button for deleting the notes */
.note button {
  background-color: #ff5555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}

.container .notes-btn {
  display: flex;
  align-items: center;
  background-color: #ce4257;
  color: white;
  font-size: 16px;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  width: 14%;
  cursor: pointer;
  outline: 0;
  padding: 15px 25px;
  margin: 30px 0 20px;
}

.container .add-btn {
  display: flex;
  align-items: center;
  background-color: #ce4257;
  color: white;
  font-size: 16px;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  width: 10.7%;
  cursor: pointer;
  outline: 0;
  padding: 15px 25px;
  margin: 30px 0 20px;
}
